@import './add-new.scss';

.rule_table_wrapper {
    background: #fff;
    border-radius: 12px;
}

.fraise_pricing-rules-wrapper {
    padding: 2rem;
    max-width: 1040px;
    margin: 0 auto;
    .role_table_footer {
        display: flex;
        justify-content: end;
        padding: 20px;
    }

    .fraise_title {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
        color: var(--fraise-text-primary);
        margin-top: 0px;
    }

    .fraise_subtitle {
        font-size: 0.925rem;
        color: var(--fraise-text-muted);
        margin-bottom: 1rem;
    }

    .fraise_search {
        max-width: 100%;
        padding: 20px;
        .el-input__wrapper {
            background-color: var(--fraise-bg-muted) !important;
            border-radius: var(--fraise-border-radius) !important;
        }
    }
}

.el-table__inner-wrapper:after {
    background: none !important;
}

.fraise_rules-table {
    overflow: hidden;

    thead {
        .el-table__cell {
            background: $fraise-gray-25 !important;
            padding: 14px 8px;
            color: var(--fraise-text-primary) !important;
            border-right: none;
            border-top: none;
        }
    }

    tbody {
        .el-table__row {
            background: #fff;
            td {
                border-right: none;
                padding: 14px 8px;
            }
        }
    }

    :deep(.el-table__header),
    :deep(.el-table__cell) {
        font-size: 0.85rem;
        color: var(--fraise-text-primary);
    }

    .el-tag--success {
        background: transparent !important;
        border: none !important;
        color: var(--fraise-text-primary) !important;
        .el-tag__content {
            font-weight: 500;
            color: #137A5F !important;
        }
    }
    .el-tag--danger {
        background: transparent !important;
        border: none !important;
        color: var(--fraise-text-primary) !important;
        .el-tag__content {
            font-weight: 500;
            color: var(--fraise-red-700) !important;
        }
    }

    .status-dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 4px;

        &.on {
            background-color: #137A5F;
        }

        &.off {
            background-color: $fraise-gray-400;
        }
    }
}